body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    background: #000000;
    width: 100%;
    overflow-x: hidden;
}


header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30px;
    height: 100vh;
    margin-bottom: 15%;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.bar p {
    font-size: 250%;
}


.flex {
    display: flex;
}

nav a:hover {
    color: red;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: 450%;
    margin: 0;
}

h2 {
    font-size: 250%;
    margin-bottom: 40px;
}

nav li {
    list-style: none;
    margin-right: 20px;

}

a {
    text-decoration: none;
    font-size: 200%;
    color: #ffffff;
}

.label {
    background-color: rgba(44, 100, 200, 0.3);
    margin-top: 220px;
    padding: 2% 0;
    height: content-box;
}

.label a {
    display: flex;
    background-color: rgb(44, 100, 200);
    width: 30%;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 200%;
}

.label a:hover {
    color: rgb(44, 100, 200);
    background-color: white;
}

section {
    width: 80%;
    margin: 25% auto;
    padding: 2%;
    background: #000000;
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
    -webkit-box-shadow: 0 -1px 40px -7px rgba(44, 100, 200, 0.9);
    -moz-box-shadow: 0 -1px 40px -7px rgba(44, 100, 200, 0.9);
    box-shadow: 0 -1px 40px -7px rgba(44, 100, 200, 0.9);
}
.information {
    text-align: justify;
    padding: 0 8%;
    margin-bottom: 70px;
    font-size: 32px;
}
h3 {
    margin: 60px;
    font-size: 350%;
}

.Iam {
    transition: all 1s;
    border-radius: 100%;
    width: 45%;
    margin-bottom: 3%;
}


h4 {
    font-size: 280%;
    margin-top: 13px;
}

#projects {
    display: grid;
    grid-template-columns:  1fr 1fr;
}

#git {
    border: hidden;
    box-shadow: none;
}

#projects > div {
    width: 90%;
    margin: 0 auto;
    padding: 3%;
    border-radius: 9px;
    -webkit-box-shadow: 0 -1px 40px -7px rgba(44, 100, 200, 0.9);
    -moz-box-shadow: 0 -1px 40px -7px rgba(44, 100, 200, 0.9);
    box-shadow: 0 -1px 40px -7px rgba(44, 100, 200, 0.9);

    display: grid;
    grid-template-rows: 50px 180px 1fr 180px;

}

#projects div img {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border-radius: 4px;
}

#projects div p {
    font-size: 32px;
}

#projects div a {
    font-size: 170%;
    color: rgba(44, 100, 200, 0.9);
    margin-bottom: 30%;
}

#projects div a:hover {
    color: rgba(44, 100, 200, 0.9);
}

footer {
    color: #ffffff;
}

#social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    margin-top: 100px;
    width: 100%;

}

#social > a i {
    margin-left: 30px;
}


#social p {
    align-self: flex-end;
    margin-right: 15px;
    margin-left: auto;
    font-size: 140%;
}

#projects div a i {
    margin: 40px;
}

@media (min-width: 651px) and (max-width: 900px) {
    #git div p {
        font-size: 25px;
    }

    #projects {
        width: 95%;
    }

    #projects div {
        margin: 0 15%;
    }

    .bar {
        margin-bottom: 5px;
    }
}

@media (min-height: 200px) and (max-height: 500px) {
    .label {
        margin-top: 20px;;
    }

    .label a {
        width: 60%;
        height: 100px;
        font-size: 150%;
    }

    h1 {
        font-size: 180%;

    }

    h2 {
        font-size: 180%;
        margin: 2%;
    }

    .label {
        height: fit-content;
    }

    .label a {
        height: 40px;
        width: 40%;
    }

}

@media (min-width: 100px) and (max-width: 650px) {
    header {
        background-position-y: 0;
    }


    .bar p {
        font-size: 270%;
    }

    .label {
        margin-top: 80px;
    }

    .label a {
        width: 45%;
        height: 60px;
    }

    h3 {
        margin: 60px;
        font-size: 380%;
    }

    section p {
        font-size: 35px;
    }

    #about-me p {
        text-align: left;
    }


    .bar p {
        font-size: 150%;
    }

    nav a {
        font-size: 150%;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 160%;
    }

    h3 {
        font-size: 280%;
    }

    h4 {
        font-size: 200%;
    }

    #projects div p {
        font-size: 130%;

    }


    #projects {
        display: grid;
        grid-template-columns:  1fr;
    }

    #projects div {
        margin-bottom: 40px;

    }


    #social p {
        align-self: flex-end;
        margin-right: 5px;
        margin-left: auto;
        font-size: 100%;
    }

    footer a {
        font-size: 100%;
    }
}

@media (min-width: 1000px) {
    section {
        width: 90%;
        margin: 15% auto;
        padding: 5px;
        height: 10%;
    }


    #about-me {
        background-color: black;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about-me div:first-child {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .Iam {
        align-self: center;
        justify-content: center;
        margin: auto 10%;
        width: 80%;
    }

    #about-me .information {
        width: 50%;
        margin: auto;
    }

    #about-me .information ul {
        text-align: right;
    }


    #about-me p {
        font-size: 100%;
    }


    #git div img {
        width: 65%;
    }

    #projects {
        width: 100%;
    }

    #projects > div {
        margin: 0 auto;
    }

    footer i {
        margin-right: 40px;
    }

    li {
        list-style: none;
    }
}







