body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    background: #000000;
    width: 100%;
    overflow-x: hidden;
}


header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30px;
    height: 100vh;
    margin-bottom: 15%;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.bar p {
    font-size: 250%;
}


.flex {
    display: flex;
}

nav a:hover {
    color: red;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: 450%;
    margin: 0;
}

h2 {
    font-size: 250%;
    margin-bottom: 40px;
}

nav li {
    list-style: none;
    margin-right: 20px;

}

a {
    text-decoration: none;
    font-size: 200%;
    color: #ffffff;
}

.label {
    background-color: rgba(44, 100, 200, 0.3);
    margin-top: 220px;
    padding: 2% 0;
    height: content-box;
}

.label a {
    display: flex;
    background-color: rgb(44, 100, 200);
    width: 30%;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 200%;
}

.label a:hover {
    color: rgb(44, 100, 200);
    background-color: white;
}

.container-label {

}


section {
    margin-top: 26%;
    margin-left: 6%;
    margin-right: 6%;
    padding: 2%;
    background: #ffffff;
    border-radius: 7px;
    text-align: center;
    color: #000000;
    -webkit-box-shadow: 0 -1px 40px -7px rgba(255,255,255,1);
    -moz-box-shadow: 0 -1px 40px -7px rgba(255,255,255,1);
    box-shadow: 0 -1px 40px -7px rgba(255,255,255,1);
}
.information {
    text-align: justify;
    padding: 0 8%;
    margin-bottom: 70px;
    font-size: 24px;
}
h3 {
    margin: 100px;
    font-size: 350%;
}

.Iam {
    border-radius: 100%;
    width: 45%;
    margin-bottom: 3%;
}


h4 {
    font-size: 350%;
    margin-bottom: 30px;
}

#projects {
    display: grid;
    grid-template-columns:  1fr 1fr;

}

#projects > div {
    width: 90%;
    margin: 0 auto;
    border: darkorange 2px solid;
}
#projects div img {
    width: 100%;
    border-radius: 4px;
 }




